<div class="stripe"></div>
  <nav>
    <div class="nav__brand">
      <a href="./index.html">Newsy</a>
    </div>
    <div class="nav__brand__link">
      <a href="./favorites.html">Favorites</a>
    </div>
  </nav>
  <header>
    <h1>Loading...</h1>
    <h2>Favorite Stories</h2>
  </header>
  <div class="article-container"></div>
  <script src="assets/js/favorites.js"></script>